-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('ACTIVE', 'INACTIVE');

-- CreateEnum
CREATE TYPE "MetricType" AS ENUM ('REVENUE', 'UNITS_SOLD');

-- CreateEnum
CREATE TYPE "TimePeriod" AS ENUM ('DAILY', 'WEEKLY', 'MONTHLY');

-- CreateTable
CREATE TABLE "Store" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Store_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Billboard" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Billboard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Category" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "billboardId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Size" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Size_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Color" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Color_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "sizeId" TEXT NOT NULL,
    "colorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "savedDesignId" TEXT,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Image" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Image_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Order" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "userId" TEXT,
    "isPaid" BOOLEAN NOT NULL DEFAULT false,
    "phone" TEXT NOT NULL DEFAULT '',
    "address" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "hashedPassword" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "status" "UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "darkMode" BOOLEAN DEFAULT false,
    "emailNotifications" BOOLEAN DEFAULT true,
    "bio" TEXT,
    "portfolioUrl" TEXT,
    "profileCardBackground" TEXT,
    "isCreator" BOOLEAN NOT NULL DEFAULT false,
    "profilePictureKey" TEXT,
    "profilePicturePath" TEXT,
    "profilePictureHistory" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "r2FolderCreated" BOOLEAN NOT NULL DEFAULT false,
    "storageUsageBytes" BIGINT NOT NULL DEFAULT 0,
    "maxSavedDesigns" INTEGER,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "Rating" (
    "id" TEXT NOT NULL,
    "score" INTEGER NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "savedDesignId" TEXT NOT NULL,

    CONSTRAINT "Rating_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SavedDesign" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "colorId" TEXT NOT NULL,
    "sizeId" TEXT NOT NULL,
    "customText" TEXT,
    "designImageUrl" TEXT,
    "mockupImageUrl" TEXT,
    "uploadedLogoUrl" TEXT,
    "uploadedPatternUrl" TEXT,
    "shirtColorHex" TEXT,
    "isLogoMode" BOOLEAN,
    "logoScale" DOUBLE PRECISION,
    "logoOffsetX" DOUBLE PRECISION,
    "logoOffsetY" DOUBLE PRECISION,
    "logoTargetPart" TEXT,
    "description" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "isShared" BOOLEAN NOT NULL DEFAULT false,
    "usageRights" TEXT,
    "averageRating" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "ratingCount" INTEGER NOT NULL DEFAULT 0,
    "designId" TEXT,
    "designFolderKey" TEXT,
    "mockupFolderKey" TEXT,
    "designImageKey" TEXT,
    "mockupImageKey" TEXT,
    "uploadedLogoKey" TEXT,
    "uploadedPatternKey" TEXT,
    "assetKeys" JSONB,
    "mockupKeys" JSONB,
    "migrationStatus" TEXT NOT NULL DEFAULT 'pending',
    "migratedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "derivedProductId" TEXT,

    CONSTRAINT "SavedDesign_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesGoal" (
    "id" TEXT NOT NULL,
    "storeId" TEXT NOT NULL,
    "metricType" "MetricType" NOT NULL,
    "targetValue" DOUBLE PRECISION NOT NULL,
    "timePeriod" "TimePeriod" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SalesGoal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GeneralSetting" (
    "id" TEXT NOT NULL,
    "defaultMaxSavedDesigns" INTEGER NOT NULL DEFAULT 10,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GeneralSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MockupJob" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "progress" INTEGER NOT NULL DEFAULT 0,
    "userId" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "canvasImageUrl" TEXT,
    "productId" TEXT,
    "colorId" TEXT,
    "sizeId" TEXT,
    "description" TEXT,
    "customText" TEXT,
    "shirtColorHex" TEXT,
    "isLogoMode" BOOLEAN,
    "logoScale" DOUBLE PRECISION,
    "logoOffsetX" DOUBLE PRECISION,
    "logoOffsetY" DOUBLE PRECISION,
    "logoTargetPart" TEXT,
    "uploadedLogoUrl" TEXT,
    "uploadedPatternUrl" TEXT,
    "mockupResults" JSONB,
    "error" TEXT,
    "designId" TEXT,
    "estimatedTimeRemaining" INTEGER,
    "mockupKeys" JSONB,
    "migrationStatus" TEXT NOT NULL DEFAULT 'pending',
    "migratedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MockupJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserFileMetadata" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "fileKey" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL DEFAULT 0,
    "contentType" TEXT,
    "folderPath" TEXT NOT NULL,
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "downloadCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserFileMetadata_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "R2MigrationLog" (
    "id" TEXT NOT NULL,
    "migrationType" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "totalRecords" INTEGER NOT NULL DEFAULT 0,
    "processedRecords" INTEGER NOT NULL DEFAULT 0,
    "failedRecords" INTEGER NOT NULL DEFAULT 0,
    "startTime" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endTime" TIMESTAMP(3),
    "errorMessage" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT,

    CONSTRAINT "R2MigrationLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "R2FileMetadata" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "fileKey" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileSize" BIGINT NOT NULL DEFAULT 0,
    "contentType" TEXT,
    "folderPath" TEXT NOT NULL,
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "downloadCount" INTEGER NOT NULL DEFAULT 0,
    "oldPath" TEXT,
    "migrationStatus" TEXT NOT NULL DEFAULT 'pending',
    "checksum" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "R2FileMetadata_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Billboard_storeId_idx" ON "Billboard"("storeId");

-- CreateIndex
CREATE INDEX "Category_storeId_idx" ON "Category"("storeId");

-- CreateIndex
CREATE INDEX "Category_billboardId_idx" ON "Category"("billboardId");

-- CreateIndex
CREATE INDEX "Size_storeId_idx" ON "Size"("storeId");

-- CreateIndex
CREATE INDEX "Color_storeId_idx" ON "Color"("storeId");

-- CreateIndex
CREATE UNIQUE INDEX "Product_savedDesignId_key" ON "Product"("savedDesignId");

-- CreateIndex
CREATE INDEX "Product_storeId_idx" ON "Product"("storeId");

-- CreateIndex
CREATE INDEX "Product_categoryId_idx" ON "Product"("categoryId");

-- CreateIndex
CREATE INDEX "Product_sizeId_idx" ON "Product"("sizeId");

-- CreateIndex
CREATE INDEX "Product_colorId_idx" ON "Product"("colorId");

-- CreateIndex
CREATE INDEX "Image_productId_idx" ON "Image"("productId");

-- CreateIndex
CREATE INDEX "Order_storeId_idx" ON "Order"("storeId");

-- CreateIndex
CREATE INDEX "Order_userId_idx" ON "Order"("userId");

-- CreateIndex
CREATE INDEX "OrderItem_orderId_idx" ON "OrderItem"("orderId");

-- CreateIndex
CREATE INDEX "OrderItem_productId_idx" ON "OrderItem"("productId");

-- CreateIndex
CREATE INDEX "Account_userId_idx" ON "Account"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_profilePictureKey_idx" ON "User"("profilePictureKey");

-- CreateIndex
CREATE INDEX "User_r2FolderCreated_idx" ON "User"("r2FolderCreated");

-- CreateIndex
CREATE INDEX "User_storageUsageBytes_idx" ON "User"("storageUsageBytes");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE INDEX "Rating_userId_idx" ON "Rating"("userId");

-- CreateIndex
CREATE INDEX "Rating_savedDesignId_idx" ON "Rating"("savedDesignId");

-- CreateIndex
CREATE UNIQUE INDEX "Rating_userId_savedDesignId_key" ON "Rating"("userId", "savedDesignId");

-- CreateIndex
CREATE UNIQUE INDEX "SavedDesign_derivedProductId_key" ON "SavedDesign"("derivedProductId");

-- CreateIndex
CREATE INDEX "SavedDesign_userId_idx" ON "SavedDesign"("userId");

-- CreateIndex
CREATE INDEX "SavedDesign_productId_idx" ON "SavedDesign"("productId");

-- CreateIndex
CREATE INDEX "SavedDesign_colorId_idx" ON "SavedDesign"("colorId");

-- CreateIndex
CREATE INDEX "SavedDesign_sizeId_idx" ON "SavedDesign"("sizeId");

-- CreateIndex
CREATE INDEX "SavedDesign_userId_isShared_idx" ON "SavedDesign"("userId", "isShared");

-- CreateIndex
CREATE INDEX "SavedDesign_tags_idx" ON "SavedDesign"("tags");

-- CreateIndex
CREATE INDEX "SavedDesign_averageRating_idx" ON "SavedDesign"("averageRating");

-- CreateIndex
CREATE INDEX "SavedDesign_userId_updatedAt_idx" ON "SavedDesign"("userId", "updatedAt");

-- CreateIndex
CREATE INDEX "SavedDesign_designId_idx" ON "SavedDesign"("designId");

-- CreateIndex
CREATE INDEX "SavedDesign_designFolderKey_idx" ON "SavedDesign"("designFolderKey");

-- CreateIndex
CREATE INDEX "SavedDesign_designImageKey_idx" ON "SavedDesign"("designImageKey");

-- CreateIndex
CREATE INDEX "SavedDesign_mockupImageKey_idx" ON "SavedDesign"("mockupImageKey");

-- CreateIndex
CREATE INDEX "SavedDesign_uploadedLogoKey_idx" ON "SavedDesign"("uploadedLogoKey");

-- CreateIndex
CREATE INDEX "SavedDesign_uploadedPatternKey_idx" ON "SavedDesign"("uploadedPatternKey");

-- CreateIndex
CREATE INDEX "SavedDesign_migrationStatus_idx" ON "SavedDesign"("migrationStatus");

-- CreateIndex
CREATE INDEX "SalesGoal_storeId_idx" ON "SalesGoal"("storeId");

-- CreateIndex
CREATE INDEX "SalesGoal_storeId_timePeriod_idx" ON "SalesGoal"("storeId", "timePeriod");

-- CreateIndex
CREATE INDEX "MockupJob_userId_idx" ON "MockupJob"("userId");

-- CreateIndex
CREATE INDEX "MockupJob_status_idx" ON "MockupJob"("status");

-- CreateIndex
CREATE INDEX "MockupJob_createdAt_idx" ON "MockupJob"("createdAt");

-- CreateIndex
CREATE INDEX "MockupJob_userId_status_idx" ON "MockupJob"("userId", "status");

-- CreateIndex
CREATE INDEX "MockupJob_designId_idx" ON "MockupJob"("designId");

-- CreateIndex
CREATE INDEX "MockupJob_migrationStatus_idx" ON "MockupJob"("migrationStatus");

-- CreateIndex
CREATE INDEX "MockupJob_canvasImageUrl_idx" ON "MockupJob"("canvasImageUrl");

-- CreateIndex
CREATE INDEX "UserFileMetadata_userId_idx" ON "UserFileMetadata"("userId");

-- CreateIndex
CREATE INDEX "UserFileMetadata_fileType_idx" ON "UserFileMetadata"("fileType");

-- CreateIndex
CREATE INDEX "UserFileMetadata_folderPath_idx" ON "UserFileMetadata"("folderPath");

-- CreateIndex
CREATE INDEX "UserFileMetadata_createdAt_idx" ON "UserFileMetadata"("createdAt");

-- CreateIndex
CREATE INDEX "UserFileMetadata_fileKey_idx" ON "UserFileMetadata"("fileKey");

-- CreateIndex
CREATE INDEX "R2MigrationLog_migrationType_idx" ON "R2MigrationLog"("migrationType");

-- CreateIndex
CREATE INDEX "R2MigrationLog_status_idx" ON "R2MigrationLog"("status");

-- CreateIndex
CREATE INDEX "R2MigrationLog_startTime_idx" ON "R2MigrationLog"("startTime");

-- CreateIndex
CREATE INDEX "R2MigrationLog_userId_idx" ON "R2MigrationLog"("userId");

-- CreateIndex
CREATE INDEX "R2FileMetadata_userId_idx" ON "R2FileMetadata"("userId");

-- CreateIndex
CREATE INDEX "R2FileMetadata_fileType_idx" ON "R2FileMetadata"("fileType");

-- CreateIndex
CREATE INDEX "R2FileMetadata_folderPath_idx" ON "R2FileMetadata"("folderPath");

-- CreateIndex
CREATE INDEX "R2FileMetadata_fileKey_idx" ON "R2FileMetadata"("fileKey");

-- CreateIndex
CREATE INDEX "R2FileMetadata_migrationStatus_idx" ON "R2FileMetadata"("migrationStatus");

-- CreateIndex
CREATE INDEX "R2FileMetadata_createdAt_idx" ON "R2FileMetadata"("createdAt");

-- CreateIndex
CREATE INDEX "R2FileMetadata_isPublic_idx" ON "R2FileMetadata"("isPublic");

-- AddForeignKey
ALTER TABLE "Billboard" ADD CONSTRAINT "Billboard_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Category" ADD CONSTRAINT "Category_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Category" ADD CONSTRAINT "Category_billboardId_fkey" FOREIGN KEY ("billboardId") REFERENCES "Billboard"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Size" ADD CONSTRAINT "Size_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Color" ADD CONSTRAINT "Color_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_sizeId_fkey" FOREIGN KEY ("sizeId") REFERENCES "Size"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_colorId_fkey" FOREIGN KEY ("colorId") REFERENCES "Color"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_savedDesignId_fkey" FOREIGN KEY ("savedDesignId") REFERENCES "SavedDesign"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Image" ADD CONSTRAINT "Image_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Rating" ADD CONSTRAINT "Rating_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Rating" ADD CONSTRAINT "Rating_savedDesignId_fkey" FOREIGN KEY ("savedDesignId") REFERENCES "SavedDesign"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedDesign" ADD CONSTRAINT "SavedDesign_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedDesign" ADD CONSTRAINT "SavedDesign_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedDesign" ADD CONSTRAINT "SavedDesign_colorId_fkey" FOREIGN KEY ("colorId") REFERENCES "Color"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedDesign" ADD CONSTRAINT "SavedDesign_sizeId_fkey" FOREIGN KEY ("sizeId") REFERENCES "Size"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesGoal" ADD CONSTRAINT "SalesGoal_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES "Store"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MockupJob" ADD CONSTRAINT "MockupJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserFileMetadata" ADD CONSTRAINT "UserFileMetadata_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R2MigrationLog" ADD CONSTRAINT "R2MigrationLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "R2FileMetadata" ADD CONSTRAINT "R2FileMetadata_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

