@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 9%; /* Near Black */
    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 9%; /* Near Black */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 9%; /* Near Black */
    --primary: 0 0% 9%; /* Near Black */
    --primary-foreground: 0 0% 98%; /* Near White */
    --secondary: 0 0% 96.1%; /* Light Gray */
    --secondary-foreground: 0 0% 9%; /* Near Black */
    --muted: 0 0% 96.1%; /* Light Gray */
    --muted-foreground: 0 0% 45.1%; /* Mid Gray */
    --accent: 0 0% 96.1%; /* Light Gray */
    --accent-foreground: 0 0% 9%; /* Near Black */
    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 98%; /* Near White */
    --border: 0 0% 89.8%; /* Light Gray */
    --input: 0 0% 89.8%; /* Light Gray */
    --ring: 0 0% 63.9%; /* Mid Gray */
    --chart-1: 0 0% 70%; /* Grayscale Chart Colors */
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 9%; /* Near Black */
    --foreground: 0 0% 98%; /* Near White */
    --card: 0 0% 9%; /* Near Black */
    --card-foreground: 0 0% 98%; /* Near White */
    --popover: 0 0% 9%; /* Near Black */
    --popover-foreground: 0 0% 98%; /* Near White */
    --primary: 0 0% 98%; /* Near White */
    --primary-foreground: 0 0% 9%; /* Near Black */
    --secondary: 0 0% 14.9%; /* Dark Gray */
    --secondary-foreground: 0 0% 98%; /* Near White */
    --muted: 0 0% 14.9%; /* Dark Gray */
    --muted-foreground: 0 0% 63.9%; /* Light Gray */
    --accent: 0 0% 14.9%; /* Dark Gray */
    --accent-foreground: 0 0% 98%; /* Near White */
    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 0 0% 98%; /* Near White */
    --border: 0 0% 14.9%; /* Dark Gray */
    --input: 0 0% 14.9%; /* Dark Gray */
    --ring: 0 0% 83.1%; /* Light Gray */
    --chart-1: 0 0% 30%; /* Grayscale Chart Colors */
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
